* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

.main-bg {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgb(105, 84, 166), rgb(0, 0, 0));
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}